@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title Us</h2>
</hgroup>
<div>
    <div class="col-md-5">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
        <address>
            <i class="icon-envelope"></i><strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12765.708672430546!2d174.7067383!3d-36.880128!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xac4fd7893e9a560f!2sUnitec+Institute+of+Technology!5e0!3m2!1szh-CN!2snz!4v1474113139379" width=100% height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>

    </div>
</div>
